<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.dao.FollowMapper">
    <!-- INSERT: 회원 추가 -->
    <insert id="insertFollow" parameterType="map"  useGeneratedKeys="true" keyProperty="followId">
        INSERT INTO follow (member_id, follower_id)
        VALUES (#{memberId}, #{followerId});
    </insert>

    <!-- SELECT: 나를 팔로우 하는 사람 -->
    <select id="selectFollowers" parameterType="string" resultType="map">
        SELECT
        m.member_id AS memberId,
        m.name AS name,
        m.nickname AS nickname,
        m.profile_img AS profileImg
        FROM follow f
        INNER JOIN members m ON f.member_id = m.member_id
        WHERE f.follower_id = #{memberId};
    </select>

    <!-- SELECT: 내가 팔로우 하는 사람 -->
    <select id="selectFollowings" parameterType="string" resultType="map">
        SELECT
        m.member_id AS memberId,
        m.name AS name,
        m.nickname AS nickname,
        m.profile_img AS profileImg
        FROM follow f
        INNER JOIN members m ON f.follower_id = m.member_id
        WHERE f.member_id = #{memberId};
    </select>

    <!-- 특정 회원과 팔로워 ID로 팔로우 관계 존재 여부 확인 -->
    <select id="existsFollow" parameterType="map" resultType="boolean">
        SELECT COUNT(*)
        FROM follow
        WHERE member_id = #{memberId}
        AND follower_id = #{followerId};
    </select>
    <!-- DELETE: 팔로우 관계 삭제 -->
    <delete id="deleteFollow" parameterType="map">
        DELETE FROM follow
        WHERE member_id = #{memberId} AND follower_id = #{followerId};
    </delete>
</mapper>
