<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.dao.VideoSearchMapper">
    <!-- 비디오 검색 쿼리 -->
    <select id="searchVideos" resultType="Video">
        SELECT
        video_id,
        channel_title,
        title,
        view_count,
        published_at,
        part,
        video_status
        FROM video
        WHERE video_status = 'APPROVED'
        <if test="keyword != null and keyword != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY
        <choose>
            <when test="sortType == 'RECENT'">
                published_at DESC
            </when>
            <when test="sortType == 'VIEW_CNT'">
                view_count DESC
            </when>
            <otherwise>
                published_at DESC
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 비디오 총 개수 조회 -->
    <select id="countVideos" resultType="int">
        SELECT COUNT(*)
        FROM video
        WHERE video_status = 'APPROVED'
        <if test="keyword != null and keyword != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!-- 자동완성 -->
    <select id="getAutocompleteSuggestions" resultType="map">
        <choose>
            <when test="keyword != null and keyword != ''">
                SELECT video_id as videoId, title
                FROM video
                WHERE video_status = 'APPROVED'
                AND title LIKE CONCAT('%', #{keyword}, '%')
                LIMIT 5
            </when>
            <otherwise>
                SELECT video_id, title
                FROM video
                WHERE 1 = 0
            </otherwise>
        </choose>
    </select>




</mapper>
