<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.dao.VideoMapper">

    <!-- 비디오 등록 -->
    <insert id="insertVideo">
        INSERT INTO video (video_id, channel_title, title, view_count, rating, published_at, part, video_status)
        VALUES (#{videoId}, #{channelTitle}, #{title}, #{viewCount}, #{rating}, #{publishedAt}, #{part}, #{videoStatus})
    </insert>

    <!-- 인기순 리스트 조회 (상위 8개) -->
    <select id="findTop8ByViewCount" resultType="Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED'
        ORDER BY view_count DESC
        LIMIT 8
    </select>

    <!-- 인기순 전체 목록 조회 -->
    <select id="findAllByViewCount" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED'
        ORDER BY view_count DESC
    </select>

    <!-- 별점순 리스트 조회 (상위 3개) -->
    <select id="findTop3ByRating" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED' AND rating IS NOT NULL
        ORDER BY rating DESC
        LIMIT 3
    </select>

    <!-- 별점순 전체 목록 조회 -->
    <select id="findAllByRating" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED' AND rating IS NOT NULL
        ORDER BY rating DESC
    </select>

    <!-- 최신순 리스트 조회 (상위 3개) -->
    <select id="findTop3ByLatest" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED'
        ORDER BY published_at DESC
        LIMIT 3
    </select>

    <!-- 최신순 전체 목록 조회 -->
    <select id="findAllByLatest" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED'
        ORDER BY published_at DESC
    </select>

    <!-- 비디오 상세 정보 조회 -->
    <select id="findByVideoId" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_id = #{videoId}
    </select>

    <!-- 비디오 검색 (제목, 채널 이름 기반) -->
    <select id="searchByKeyword" resultType="com.ssafy.ssafit.domain.Video">
        SELECT * FROM video
        WHERE video_status = 'APPROVED'
        AND (title LIKE CONCAT('%', #{keyword}, '%') OR channel_title LIKE CONCAT('%', #{keyword}, '%'))
    </select>

    <!-- pending 상태인 비디오 시간 역순으로 조회 (상위 8개) -->
    <select id="selectPendingVideos" parameterType="int" resultType="Video">
        SELECT * FROM video
        WHERE video_status = 'PENDING'
        ORDER BY published_at
        LIMIT 8
    </select>

    <update id="updateStatusToApproved">
        UPDATE video
        SET video_status = 'APPROVED'
        WHERE video_id = #{videoId}
    </update>

    <update id="updateStatusToRejected">
        UPDATE video
        SET video_status = 'REJECTED'
        WHERE video_id = #{videoId}
    </update>

</mapper>
